body {
   background: #ebedee;
}

th {
   cursor: pointer;
}

th.header-active {
   color: blueviolet;
}

th.header-index {
   cursor: default;
}

span.highlight {
   background-color: aquamarine;
}

option.disabled {
   color: grey;
}
